/* Скидання стилів */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
}

header {
    background: #111;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    background: #222;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ddd;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #444;
}

button {
    padding: 10px 20px;
    background-color: #5CACEE;
    border: none;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #3B7A57;
}

/* Анімація для логотипу */
@keyframes bloomEffect {
    0%, 100% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.5);
    }
}

#tournamentLogo {
    animation: bloomEffect 2s infinite ease-in-out;
}

/* Адаптивність */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin-right: 0;
    }
}
